{{#each this}}
  <li data-uid="{{uid}}" data-pubkey="{{chavePublica}}" data-name="{{nome}}" class="home-sidebar_list-item home-sidebar_contact">
    <div class="row-content spaced">
        <strong>{{nome}}</strong>
        {{!-- <span>{{date}}</span> --}}
    </div>
    {{!-- <p>{{message}}</p> --}}
  </li>
{{else}}
  <li class="home-sidebar_contact-empty" >Adicione um contato para começar</li>
{{/each}}